* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	
  }
  
  h1,
  h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
  }
  
  ul {
	list-style: none;
  }
  
  a {
	color: #1e1515;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	z-index: 999;
	background: linear-gradient(90deg, #087E8B, #dfe0e0);
	padding: 20px;
  }
  
  nav ul {
	display: flex;
  }
  
  nav li {
	margin-left: 20px;
  }
  
  nav a {
	font-size: 18px;
  }
  
  
  #hero {
	height: 100vh;
	background: linear-gradient(10deg, #292929, #dfe0e0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	padding: 3rem 0;
  }
  
  #hero {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  #hero h2 {
	font-size: 48px;
	margin-bottom: 20px;
	color: #fff;
  }
  
  #hero p {
	font-size: 24px;
	max-width: 600px;
	margin-bottom: 40px;
	color: #fff;
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

	body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	}
	
	h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	}
	
	ul {
	list-style: none;
	}
	
	a {
	color: #f1eaea;
	text-decoration: none;
	}
	
	a:hover {
	text-decoration: underline;
	}
	
	
	header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: linear-gradient(-70deg, #5d5d5d 0%, #292929 80%);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	z-index: 999;
	}
	
	nav ul {
	display: flex;
	}
	
	nav li {
	margin-left: 20px;
	}
	
	nav a {
	font-size: 18px;
	}
	
	
	#hero {
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	}
	
	#hero h2 {
	font-size: 48px;
	margin-bottom: 20px;
	}
	
	#hero p {
	font-size: 24px;
	max-width: 600px;
	margin-bottom: 40px;
	}	


	#about {
	padding: 80px 20px;
	background-color: #fff;
	border: 2px solid #ccc;
	}
	
	#about h2 {
	font-size: 36px;
	margin-bottom: 40px;
	text-align: center;
	}
	
	#about ul {
	max-width: 600px;
	margin: 0 auto;
	}
	
	#about li {
	font-size: 20px;
	margin-bottom: 10px;
	}
	
	#about strong {
	font-weight: 700;
	}
	
	
	#skills {
		padding: 80px 20px;
		background-color: #f9f9f9;
		margin-bottom: 50px;
		background: linear-gradient(-70deg, #5d5d5d 0%, #292929 80%);
	  }
	  
	  #skills h2 {
		font-size: 48px;
		margin-bottom: 30px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		color: white;
	  }
	  
	  .skill-list {
		display:grid;
	  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	  gap: 20px;
	  }
	  
	  .skill {
	  background-color: #fff;
	  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	  border-radius: 5px;
	  padding: 20px;
	  text-align: center;
	  position: relative;
	  }
	  
	  .skill h3 {
	  font-size: 24px;
	  margin-bottom: 10px;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  }
	  
	  .skill p {
	  margin-bottom: 5px;
	  font-size: 16px;
	  }
	  
	  .skill a {
	  color: #333;
	  text-decoration: none;
	  transition: all 0.3s ease;
	  }
	  
	  .skill a:hover {
	  color: #83afa6;
	  }  
	  
	  .skill:hover::before {
	  content: '';
	  }
	  
	  .skill:hover h3 {
	  color: #83afa6; 
	  }
	  
	  .skill:hover ul li a:hover {
	  color: #333; 
	  }
	
	#projects {
		background-color: #f7f7f7;
		padding: 50px 0;
	  }
	  
	  .project-box {
		border: 2px solid #333;
		padding: 20px;
		border-radius: 5px;
	  }
	  
	  .project-title {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 10px;
	  }
	  
	  .project-description {
		font-size: 18px;
		margin: 0;
		color: black;
	  }
	  
	  .project-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	  }
	  
	  .project {
		width: calc(33.33% - 20px);
		margin-bottom: 40px;
	  }
	  
	  @media only screen and (max-width: 768px) {
		.project {
		  width: calc(50% - 20px);
		}
	  }
	  @media only screen and (max-width: 480px) {
		.project {
		  width: 100%;
		}
	  }
	  
	  .section-title {
		text-align: center;
		font-size: 32px;
		margin-top: 0;
		margin-bottom: 40px;
		color: #333;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		position: relative;
	  }
	  
	  .section-title::before {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 50px;
		height: 2px;
		background-color: #333;
	  }

	  nav ul li a:hover {
		color: #8c91c7;
	  }


	  .footer {
		background: linear-gradient(-70deg, #5d5d5d 0%, #292929 80%);
		padding: 20px;
		color: #fff;
		font-size: 16px;
	  }
	  
	  .footer-content {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	  }
	  
	  .contact, .follow-us {
		flex-basis: 50%;
	  }
	  
	  .contact h3, .follow-us h3 {
		margin-bottom: 10px;
		font-weight: 600;
	  }
	  
	  .contact p, .follow-us p {
		margin: 0;
		line-height: 1.5;
	  }
	  
	  .follow-us .social-media {
		display: flex;
	  }
	  
	  .follow-us a {
		display: block;
		margin-right: 10px;
		color: #fff;
		text-decoration: none;
	  }
	  
	  .follow-us a:last-child {
		margin-right: 0;
	  }
	  
	  .follow-us a:hover {
		opacity: 0.8;
	  }
	  
	  .follow-us img {
		width: 30px;
		height: 30px;
	  }

	  .about {
		background-color: #f9f9f9;
		padding: 50px;
	  }
	  
	  .container {
		max-width: 800px;
		margin: 0 auto;
	  }
	  
	  .about__heading {
		font-size: 36px;
		text-align: center;
		margin-bottom: 30px;
	  }
	  
	  .about__list {
		list-style: none;
		margin: 0;
		padding: 0;
	  }
	  
	  .about__item {
		margin-bottom: 20px;
	  }
	  
	  .about__item--bio {
		font-style: italic;
	  }
	  
	  .about__item strong {
		font-weight: bold;
	  }
	  
	  @media screen and (max-width: 767px) {
		.about {
		  padding: 30px;
		}
		
		.about__heading {
		  font-size: 30px;
		}
		
		.about__item {
		  font-size: 16px;
		}
	  }
	  
	  .freduard {
		color: black;
	  }